################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment_Nagp/.vs/Assignment_Nagp/v15/Server/sqlite3
